body {
    max-width: 1200px;
}

body > * {
    background-color: black;
    padding: 15px;
    margin: 15px 0;
} 

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

div, li, section {
    height: 20px;
}

nav, .nav-container, article, aside {
    padding: 15px;
}

nav, article, li {
    margin-bottom: 15px;
}

nav li:last-child, aside li:last-child {
    margin-bottom: 0;
}

nav {
    background-color: #2d4059;
}

nav li {
    background-color: #ea5455;
}

.nav-container {
    background-color: #f07b3f;
}

.nav-item {
    background-color: #fed460;
}

main {
    background-color: #feff03;
}

article {
    background-color: #4e4e6a;
}

article li {
    background-color: #62959c;
}

section {
    background-color: #70a3c4;
}

aside {
    background-color: #f73f52;
}

aside li {
    background-color: #fdb36b;
}

footer div{
    background-color: #e6af2e;
}

@media only screen and (min-width: 481px) {
    nav {
        margin-bottom: 10px;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-bottom: 0;
    }
    .nav-left {
        width: 20%;
    }
    .nav-center {
        width: 60%;
        margin: 0 15px
    }
    .nav-right {
       width: 20%;
    }
    article ul {
        display: flex;
    }  
    article li {
        width: 50%;
        background-color: #1f6cb0;
    } 
    article li:first-child {
        margin-right: 15px;
    } 
    aside li {
        background-color:#feea85;
    }   
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        background-color: black;
    }
    article {
        width: 70%;
        margin-right: 15px;
        margin-bottom: 0;
    }
    aside {
        width: 30%;
    }
}